<ion-header>
  <ion-toolbar>
    <ion-title>Posts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item
      *ngFor="let post of post$ | async; trackBy:trackByFn"
      lines="full"
    >
      <ion-thumbnail>
        <img [src]="post.photoUrl" />
      </ion-thumbnail>

      <ion-label>
        <strong>{{post.title}}</strong>
        <p>{{post.subtitle}}</p>
      </ion-label>

      <div>
        <ion-buttons>
          <ion-button (click)="remove(post)">
            <ion-icon
              size="small"
              slot="icon-only"
              name="trash-bin-outline"
            ></ion-icon>
          </ion-button>
        </ion-buttons>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
