<ion-header>
  <ion-toolbar>
    <ion-title>Posts</ion-title>
    <ion-buttons slot="primary">
      <ion-button title="Grid View" (click)="setGridView()">
        <ion-icon slot="icon-only" name="grid-outline"></ion-icon>
      </ion-button>
      <ion-button title="List View" (click)="setListView()">
        <ion-icon slot="icon-only" name="list-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list [hidden]="!listView">
    <ion-item
      *ngFor="let post of post$ | async; trackBy:trackByFn"
      lines="full"
    >
      <ion-item
        class="ion-no-padding btn"
        (click)="openModal(post)"
        lines="none"
      >
        <ion-thumbnail>
          <img [src]="post.photoUrl" />
        </ion-thumbnail>

        <ion-label>
          <strong>{{post.title}}</strong>
          <p>{{post.subtitle}}</p>
        </ion-label>
      </ion-item>

      <div>
        <ion-buttons>
          <ion-button routerLink="/posts/update/{{post.id}}" title="Edit">
            <ion-icon
              size="small"
              slot="icon-only"
              name="create-outline"
            ></ion-icon>
          </ion-button>
          <ion-button (click)="remove(post)">
            <ion-icon
              size="small"
              slot="icon-only"
              name="trash-bin-outline"
            ></ion-icon>
          </ion-button>
        </ion-buttons>
      </div>
    </ion-item>
  </ion-list>

  <vygo-post-card
    [hidden]="listView"
    *ngFor="let post of post$ | async; trackBy:trackByFn"
    [post]="post"
    (clickOutput)="openModal(post)"
  ></vygo-post-card>
</ion-content>
