<ion-toolbar>
  <ion-title>{{ post.title }} </ion-title>
  <ion-buttons slot="end">
    <ion-button (click)="close()">
      <ion-icon slot="icon-only" name="close"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
<ion-content class="fullscreen" *ngIf="post$ | async as post">
  <img class="header" class="header" [src]="post.photoUrl" />
  <ion-grid class="ion-padding">
    <ion-row class="ion-align-items-center">
      <ion-col size="2">
        <ion-avatar>
          <img [src]="post.author.photoURL" referrerpolicy="no-referrer" />
        </ion-avatar>
      </ion-col>

      <ion-col>
        <ion-label>By {{ post.author.displayName }} </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h3>{{ post.title }}</h3>
        <div class="content" [innerHTML]="post.content"></div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label>
          {{ post.createdAt | date: "mediumDate" }}
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list *ngIf="post.history?.length > 0">
    <ion-list-header> History </ion-list-header>

    <ion-item
      *ngFor="let postHistory of post.history"
      (click)="openModal(postHistory)"
    >
      <ion-thumbnail>
        <img [src]="postHistory.photoUrl" />
      </ion-thumbnail>

      <ion-label>
        <h2>{{ postHistory.title }}</h2>
        <h3>{{ postHistory.subtitle }}</h3>
        <p>{{ postHistory.updatedAt | date: "short" }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
