<ion-toolbar>
  <ion-title>{{ post.title }} </ion-title>
  <ion-buttons slot="end">
    <ion-button (click)="close()">
      <ion-icon slot="icon-only" name="close"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content class="ion-padding" *ngIf="post$ | async as post">
  <vygo-post-card [post]="post"></vygo-post-card>

  <ion-list *ngIf="post.history?.length > 0">
    <ion-list-header> History </ion-list-header>

    <ion-item
      *ngFor="let postHistory of post.history"
      (click)="openModal(postHistory)"
    >
      <ion-thumbnail>
        <img [src]="postHistory.photoUrl" />
      </ion-thumbnail>

      <ion-label>
        <h2>{{ postHistory.title }}</h2>
        <h3>{{ postHistory.subtitle }}</h3>
        <p>{{ postHistory.updatedAt | date: "short" }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
