ion-avatar {
  height: 40px;
  width: 40px;
}

ion-label {
  color: var(--ion-color-medium-shade, #808289);
  font-size: 14px;
}

ion-thumbnail {
  margin-right: 20px;
}

ion-list-header {
  font-size: 17px;
}

h6 {
  color: var(--ion-color-dark-tint, #383a3e);
}

.header {
  max-height: 200px;
  width: 100%;
}

.content {
  color: var(--ion-color-medium-shade, #808289);
}

ion-item:hover {
  cursor: pointer;
}
