<ion-content class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <ion-item class="ion-padding-top">
      <ion-label position="floating">Title</ion-label>
      <ion-input formControlName="title" type="text" required></ion-input>
    </ion-item>
    <div class="error ion-padding" *ngIf="title.hasError('required')">
      Title is required.
    </div>
    <div class="error ion-padding" *ngIf="title.hasError('maxlength')">
      Title cannot be longer than 200 characters.
    </div>

    <ion-item class="ion-padding-top">
      <ion-label position="floating">Subtitle</ion-label>
      <ion-input formControlName="subtitle" type="text" required> </ion-input>
    </ion-item>
    <div class="error ion-padding" *ngIf="subtitle.hasError('required')">
      Subtitle is required.
    </div>
    <div class="error ion-padding" *ngIf="subtitle.hasError('maxlength')">
      Subtitle cannot be longer than 200 characters.
    </div>

    <vygo-editor [form]="editor"></vygo-editor>
    <div class="error ion-padding" *ngIf="content.hasError('required')">
      Content is required.
    </div>

    <ion-button
      class="ion-margin-top"
      [disabled]="form.invalid"
      type="submit"
      expand="block"
      color="success"
      >Send</ion-button
    >
  </form>
</ion-content>
