<ion-card (click)="handleClick($event)">
  <img [src]="post.photoUrl" />
  <ion-card-header>
    <ion-card-subtitle>{{ post.subtitle }}</ion-card-subtitle>
    <ion-card-title>{{ post.title }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-label [innerHTML]="post.content"> </ion-label>

    <ion-grid>
      <ion-row>
        <ion-col size="3">
          <ion-avatar>
            <img [src]="post.author.photoURL" referrerpolicy="no-referrer" />
          </ion-avatar>
        </ion-col>

        <ion-col offset="0.5">
          <ion-row>
            <ion-label>By {{ post.author.displayName }} </ion-label>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label>{{ post.createdAt | date: "mediumDate" }}</ion-label>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
